<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Nosology.Common\packages.config" />
  <repository path="..\src\Nosology.Console.App\packages.config" />
  <repository path="..\src\Nosology.Web.App.Tests\packages.config" />
  <repository path="..\src\Nosology.Web.App\packages.config" />
  <repository path="..\src\Nosology.Web.Common\packages.config" />
</repositories>