@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/mdl-v1.0.5/material.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.css" />
    <title></title>

    <style type="text/css">
        
        .main-button {
            margin-left: 5%;
            width: 90%;
            /*width: 750px;*/
            height: 200px;
        }
            /* setup button content */
            .main-button p {
                position: fixed;
                bottom: 0;
                left: 0;
                margin-left: 25px;
                margin-bottom: 25px;
            }
            .main-button h2 {
                position: fixed;
                top: 0;
                left: 0;
                margin-left: 25px;
                margin-top: 25px;
            }
                .main-button h2 i {
                    position: fixed;
                    right: 0;
                    top: 0;
                    margin-top: 25px;
                    margin-right: 25px;
                    font-size: 100px;
                }

             /*------------------------------------*\
                #TITLES-SECTION
             \*------------------------------------*/

            /* rewrite default title paddind */
            div .mdl-layout__header-row {
                padding: 0 16px 0 25px;
            }

            .title-major {
                height: 80px;
                font-size: 24px;
                box-shadow: none;
            }

            .title-minor {
                height: 40px;
                font-size: 20px;
            }
                .title-minor span {
                    margin-right: 15px;
                }

            .title-help {
                position:fixed; 
                height:80px; 
                left:0; 
                right:0; 
                bottom:0; 
                background:#0097A7	
            }
                .title-help a {
		            float:left; 
		            margin-top:  15px; 
		            margin-left: 25px; 
		            text-align:center; 
	            }
	            .title-help p {
		            font-size: 20px;
                    color: White;	
                    margin-top:  29px; 
                    margin-left: 100px;
	            }
	            .title-help i {
		            font-size: 34px; 
		            color: #00838F; 
		            line-height: 1.7em;	
	            }

            .title-help--navigation {
	            margin-bottom:80px;
            }
    </style>

</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row mdl-color--liss-main title-major">
                <!-- Title -->
                <span class="mdl-layout-title">Major title</span>
            </div>
            <div class="mdl-layout__header-row mdl-color--liss-help title-minor">
                <!-- Title -->
                <span class="mdl-layout-title">Minor title</span>
            </div>
        </header>
        
        <main class="mdl-layout__content">
            <div class="page-content">
                <br />
                <!-- Your content goes here -->
                <div class="mdl-grid">
                    
                    <div class="mdl-layout-spacer"></div>

                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                            mdl-color--liss-main mdl-color-text--white main-button progress-button"
                           onclick="rls_click();return false;">

                            <h2 class="mdl-card__title-text">
                                ЛЕКАРСТВЕННЫЕ ПРЕПАРАТЫ<i class="fa fa-medkit"></i>
                            </h2>

                            <p>
                                Описание, наличие, заказ
                            </p>

                        </a>
                    </div>

                    <div class="mdl-layout-spacer"></div>
                    
                </div>

                

                <div class="mdl-grid">

                    <div class="mdl-layout-spacer"></div>
                    
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                            mdl-color--liss-main mdl-color-text--white main-button progress-button"
                           onclick="vital_click();return false;">

                            <h2 class="mdl-card__title-text">
                                ЖНВЛП<i class="fa fa-rub"></i>
                            </h2>

                            <p class="wat">
                                Передельные цены на жизненно необходимые и важнейшие лекарственные препараты
                            </p>

                        </a>
                    </div>

                    <div class="mdl-layout-spacer"></div>

                </div>

                

                <div class="mdl-grid">

                    <div class="mdl-layout-spacer"></div>

                    <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
                            mdl-color--liss-main mdl-color-text--white main-button progress-button"
                           onclick="counterfeit_click();return false;">

                            <h2 class="mdl-card__title-text">
                                Браки и фальсификаты<i class="fa fa-exclamation-circle"></i>
                            </h2>

                            <p>
                                Список браков и фальсификатов
                            </p>

                        </a>
                    </div>

                    <div class="mdl-layout-spacer"></div>

                </div>
            </div>
            <div class="title-help">

                <a href="#" data-modal="#helpModal" class="modal__trigger modal__trigger--round">
                    <i class="fa fa-question"></i>
                </a>

                <p>
                    Для перехода в одно из представленных меню нажмите кнопку с соответствующим названием.
                </p>

            </div>
        </main>
    </div>

    <script type="text/javascript" src="~/Content/mdl-v1.0.5/material.js"></script>
</body>
</html>
