<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" name=".ASPXFORMSAUTH" defaultUrl="~/pages/main.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/pages/error.aspx"/>
    
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>